body{
   font-family: 'Poppins', sans-serif;
}  
body{
   background-color: #E9E6EF;
}
h2{  background-color: whitesmoke;
   color:teal;
}
h1{
   color:red;
   background-color: whitesmoke;
}

img {
   border-radius: 5%;
 }

 .galleryContainer{
   display: flex;
   flex-flow: row wrap;
   justify-content: center;
   align-items: center;
 }

 .imgCont{
    width: 250px;
    height: 250px;
    margin: 15px 10px;
    box-sizing: border-box;
 }

 .imgCont:hover{
   width: 250px;
   height: 250px;
 }

 .imgCont:hover .responsive-img{
    border: 4px dashed #0c84ec;
    width: 100%;
    height:250px;
    margin: 10px 5px;
    
 }

 .responsive-img{
    width: 100%;
    height:250px;
    margin: 10px 5px;
 }